[Unit]
Description=update system
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/bin/zsh gappi/script/autorun_loop.sh
Environment=
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
