[Unit]
Description=mvpc project
After=network.target

[Service]
WorkingDirectory=/home/pi/gappi
ExecStart=/usr/bin/python3 main_v3.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
