[Unit]
Description=update system
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=source gappi/script/autorun.sh
Environment=
Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
